.modalContainer {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
  overflow: auto;
}

.modalInnerContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 50px 50px;
  background-color: #ffac5d;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.closeButton {
  flex-grow: 0;
  align-items: center;
}

.modalButtons {
  display: flex;
  margin-top: 12px;
  align-items: center;
  gap: 2rem; 
}

.releaseToggle {
  display: flex;
  align-items: center;
}

.modalSubmitButton {
  display: flex;
}

.inputWrap {
  position: relative;
  width: 85%;
  margin-bottom: 2rem;
}

.textBox {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  position: relative;
  z-index: 1;
  background-color: #FFB773;
  border: 1px solid rgba(255, 183, 115, 0.5);
  background-clip: padding-box;
  color: #FFF;
  font-weight: bold;
}

.textBox::placeholder {
  color: white;
}

.label {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: 24px;
  color: #a0a0a0;
  transition: all 0.25s ease;
  z-index: 0;
  font-weight: bold;
}

.focus {
  top: -24px;
  left: 10px;
  font-size: 14px;
  color: white;
}

.recordContent {
  display: flex;
}

.editorSection {
  width: 65%;
  padding-left: 48px;
}

.titleInput {
  padding: 10px;
  border: none;
  background-color: #FFB773;
  border-radius: 5px;
  margin-bottom: 10px;
}

.mdeWrapper {
  border: 16px solid #F8F8F8;
  border-radius: 16px;
  padding: 4px; 
  background-color: white;
  margin-bottom: 5rem;
}

.simpleMde {
  width: 100%;
  height: auto;
  z-index: 55;
}

.selectSection {
  width: 35%;
  padding-left: 4rem;
  margin-top: 68px;
}

.selectSection {
  display: flex;
  flex-direction: column;
}

.selectLabel {
  font-size: 14px;
  color: #666;
  margin: 8px;
  margin-bottom: 12px;
}

.selectWrapper {
  position: relative;
  border: none;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  height: 8rem;
  margin-bottom: 2rem;
}

.selectWrapper select {
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  outline: none;
  font-weight: bold;
}

.toggle {
  position: relative;
  width: 150px;
  height: 42px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  background: #f45e55;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle.checked {
  background: #4be9ac;
}

.toggle input[type=checkbox] {
  display: none;
}

.toggle:before {
  content: "Not Release";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 14px; /* 文字サイズを調整 */
  transition: 0.2s ease-out;
}

.toggle:after {
  content: "Release";
  position: absolute;
  top: 50%;
  right: 14px; /* 調整された位置 */
  transform: translateY(-50%) translateX(100%);
  width: 130px; /* 更新されたラベル幅 */
  color: #fff;
  font-size: 14px; /* 文字サイズを調整 */
  text-align: center;
  transition: 0.2s ease-out;
}

.toggle.checked:before {
  transform: translateY(-50%) translateX(-300%);
}

.toggle.checked:after {
  transform: translateY(-50%);
}
