.modalContainer {
  top: 0;
  left: 0;
  position: fixed;
  padding: 100px;
  height: 100%;
  width: 100%;
  z-index: 11;
  background-color: rgba(51, 51, 51, 0.3);
  overflow: auto;
}

.modalInnerContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 70%;
  z-index: 15;
  display: flex;
  flex-flow: column;
  padding: 50px 50px;
  color: var(--accent-7);
  border-radius: var(--card-radius);
  background: radial-gradient(ellipse at top left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(10px);
  gap: 30px;
}

.modalContent input {
  font-size: 1.6rem;
  width: 100%;
  letter-spacing: 1px;
  color: var(--accent-6);
  background: none;
  border: 1px solid var(--accent-4);
  padding: 10px;
}

.modalContent input:focus {
  border: 1px solid var(--button-secondary);
  z-index: 10;
  outline: 0;
}

.modalName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContentClose {
  display: flex;
  justify-content: start;
  align-items: start;
}

.modalContentCloseIcon {
  background: none;
  border: none;
  margin: -20px;
  border-radius: var(--button-radius);
  text-align: center;
  font-size: 2.8rem;
  color: var(--button-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalSubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainer {
  display: flex;
}

.chapters {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 10px;
  justify-content: space-between;
  align-items: center;
}

.orderArea {
  width: 20%;
}
.chapter {
  width: 70%;
  height: 10rem;
}

.chapterContainer {
  display: flex;
  place-content: center;
  place-items: center;
  height: 100%;
}

.chapterIcon {
  width: 15%;
  display: grid;
  place-content: center;
}

.chapterInfo {
  width: 75%;
}

.chapterTitle {
  font-size: 2rem;
  font-weight: 600;
  display: block;
}

.chapterContent {
  font-size: 1.4rem;
  font-weight: 400;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
