.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 250px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.cardContainer:hover {
  transform: translateY(-5px);
}

.cardTitle {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  top: 0;
  margin-top: 20px;
}

.cardIcon {
  color: #fa8814;
  font-size: 32px;
}

.cardContentLength {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
  position: absolute;
  bottom: 10px;
}

.cardUpdated {
  font-size: 14px;
  color: #777;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.sample {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.sample::before {
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  content: '';
  background-color: #fa8814;
  animation: wave linear 8s infinite;
  bottom: -170%;
  border-radius: 60% 40% / 35% 65%;
  z-index: 1;
}

.sample::after {
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  content: '';
  background-color: #ffac5d;
  animation: wave linear 8s infinite;
  bottom: -140%;
  border-radius: 60% 40% / 35% 65%;
  animation-delay: -3s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateX(0%) rotate(0deg);
  }
  25% {
    transform: translateX(-10%) rotate(-10deg);
  }
  50% {
    transform: translateX(0%) rotate(0deg);
  }
  75% {
    transform: translateX(10%) rotate(10deg);
  }
}