.title {
  color: white;
}

.sub {
  margin-bottom: 0.5rem;
}

.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 2rem;
  margin: 2rem 0;
  align-items: center;
}

.profile p {
  font-size: 1.5rem;
}

.input {
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-2);
}

.input:focus {
  outline: none;
  border: 2px solid var(--primary);
}

.button {
  background-color: var(--primary);
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.button:hover {
  box-shadow: 0 0 0 0.25rem var(--primary);
  transition: 0.25s;
}

.submit {
  display: flex;
  justify-content: center;
}

.success {
  color: green;
}

.error {
  color: red;
}

.status {
  font-size: 1.5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
