.mainLayoutContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 100px 200px;
  margin-top: 60px;
  gap: 50px 0px;
  animation: fadeIn .5s ease 0s 1 alternate none running;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
