.markdown h1 h2 {
  margin-top: 2.3em;
  margin-bottom: 0.5em;
}
.markdown h1 {
  padding-bottom: 0.2em;
  margin-bottom: 1.1rem;
  border-bottom: 2px solid #ddd;
}
.markdown h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}
.markdown h3 {
  margin-top: 1em;
  margin-bottom: 0.4em;
}
.markdown h4 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}
.markdown h5 {
  margin-top: 1em;
  margin-bottom: 0.2em;
}
.markdown h6 {
  margin-top: 1em;
}

.markdown a {
  font-size: 1.6rem;
}
.markdown p {
  margin-top: 1em;
}

.markdown ul {
  padding-left: 1.8em;
  line-height: 1.7;
}

.markdown ul li {
  margin: 0.4rem 0;
}

/* コードブロックではないコードハイライト用 */
.markdown code:not(pre) {
  padding: 0 0.5rem;
  background-color: #f5f5f5;
  color: #657b83;
  font-family: 'Roboto Mono';
}

.markdown blockquote {
  font-size: 0.97em;
  margin: 1.4rem 0;
  border-left: 3px solid #9dacb7;
  padding: 2px 0 2px 0.7em;
  color: #505c64;
}

.markdown table {
  margin: 1.2rem auto;
  width: auto;
  border-collapse: collapse;
  font-size: 0.95em;
  line-height: 1.5;
  word-break: normal;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.markdown td,
.markdown th {
  padding: 0.5rem;
  border: 1px solid #cfdce6;
}

.markdown th {
  font-weight: 700;
  background-color: #edf2f7;
}

.markdown td {
  background: #fff;
}
