.tableContainer {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  border: solid 1px var(--accent-0);
}

.tableContainer tr {
  transition: 0.2s;
  border-bottom: solid 1px var(--accent-2);
}

.tableContainer th {
  font-weight: 500;
  padding: 5px;
  border-bottom: solid 1px var(--accent-3);
}

.tableContainer td {
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

.tableContainer tr:hover {
  transform: translateY(-1px);
  background-color: white;
  border: solid 1px var(--accent-0);
  box-shadow: 5px 5px 14px #f0f0f0, -5px -5px 14px #fafafa;
}

.tableContainer td:hover {
  background: linear-gradient(45deg, var(--button-secondary) 0%, var(--button-primary) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tableContainer tr:active {
  border: none;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.tableContainer tr:last-child td {
  border-bottom: none;
}
